html {font-family: 'Inter', sans-serif;background-color:#FFF}
body {font-family: 'Inter', sans-serif;overflow-x: hidden; background-color:#FFF; font-weight:400;font-style: normal; color:#373737; font-size:14px}
a,a:hover,a:focus,i,input,button,input:focus,.transition {text-decoration: none;outline: none;transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: ease;box-shadow: none;}
a{color: #000}
iframe {border: 0;outline: none;}
::-moz-selection {background:#000;text-shadow: none;color:#FFF}
::selection {background:#000;text-shadow: none;color:#FFF}
img {max-width: 100%;border: none;outline: none;height: auto;}
input,textarea {border-radius: 0;resize: none;}
ul {padding: 0;margin: 0;}
@font-face {font-family: 'Inter', sans-serif;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: transparent;background-image: none;color:#000;}
/* 1.2 Typography */
h1,h2,h3,h4,h5,h6 {font-family: 'Inter', sans-serif;}
figure{ margin: 0 }
svg,img { max-width: 100%; height: auto;}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: #ececec;
}

::-webkit-scrollbar-thumb{
    background-color: #d1b3b7;
    border-radius: 10px;
}

/* Header */
.ds-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFF;
    padding: 20px 0;
    transition-delay: 0s;transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease; 
}

.ds-header.ds-fixed-header{
    padding:20px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); 
}

.ds-header-princ{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.ds-logo{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    color: #7c7c7c;
    display: flex;
    align-items: center; 
}

.ds-logo span{
    display:flex; 
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #C2959C;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px; 
}

.ds-logo:hover{
    color: #7c7c7c;
}

.ds-redes{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ds-redes li{
    margin-left: 12px;
}

.ds-redes li:first-child{
    margin-left: 0;
}

.ds-redes li a{
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color: #C2959C;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.ds-redes li a:hover{
    background-color: #7c7c7c;
    color: #FFF;
}

/* Banner */
.ds-banner section{
    padding-left: 70px;
    padding-right: 100px;
    padding-bottom: 45px;
}

.ds-banner section h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000;
}

/* Projetos */

.ds-projetos-secao{ 
    padding-bottom: 30px;
}

.ds-projetos-lista{ 
    padding-left: 70px; 
    padding-top:40px; 
    padding-right: 70px; 
    padding-bottom: 40px;
    background-color:#FFF9F9; 
    margin-bottom: 40px; 
}

.ds-projetos-lista section{ 
    padding-top: 20px; 
    padding-right: 120px; 
    padding-bottom: 45px; 
}

.ds-projeto-titulo{ 
    color: #000; 
    font-size: 30px; 
    line-height: 36px; 
    font-weight: 600; 
    margin-bottom: 30px; 
}

.ds-projetos-lista p{ 
    font-weight: 300; 
    font-size: 18px; 
    line-height: 30px; 
}

.ds-projetos-det-hed{ 
    padding-top: 42px; 
    padding-bottom: 80px; 
}

.ds-projetos-det-titulo{
    font-weight: 600; 
    color:#000; 
    font-size: 48px; 
    margin-bottom: 20px; 
    margin-top: 80px;
}

.ds-projetos-det-dep{ 
    display:block;
    font-weight: 600; 
    color: #000; 
    font-size: 18px; 
}

.ds-projetos-figure-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.ds-projetos-img{
    max-width: 450px;
}


.ds-projetos-lista .ds-button{ 
    margin-top: 20px; 
}

.ds-button{ 
    display: inline-block; 
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px; 
    color:#C2959C; 
    padding:17px 30px;  
    border: 2px solid #C2959C;
    border-radius: 60px; 
}

.ds-button:hover{ 
    background-color:#C2959C;
    color: #FFF;
}

.ds-arrow-button i{ 
    display: inline-block; 
    vertical-align: middle;
}

.ds-button-voltar{
    display: block;
}

/* Footer */
.ds-footer{ 
    background-color: #C2959C;
    padding: 50px 0;
}

.ds-footer section span{ 
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-weight: 700; 
    font-size: 16px; 
    letter-spacing: 1px; 
    display: block; 
    padding-bottom: 20px; 
}

.ds-footer section p{ 
    letter-spacing: 1.13px; 
    color: #FFF; 
    font-size: 18px; 
    margin-bottom: 40px; 
}

/* Responsividade */
@media (max-width: 768px) {
	.ds-header,.ds-header.ds-fixed-header{
        padding: 15px 0;
    }

	.ds-banner,.ds-projetos-secao{ 
        padding-left: 10px;
        padding-right: 10px; 
    }

	.ds-banner section{ 
        padding-left: 0;
        padding-right: 0; 
    }

	.ds-banner section h1 span{
        padding-bottom: 0; 
    }

	.ds-banner section h1{
        font-size: 30px; 
        line-height: 40px; 
    }

	.ds-numbervalulist{
        margin-top: 20px; 
    }

	.ds-numbervalulist li{
        margin-right: 30px; 
    }

	.ds-numbervalulist strong{ 
        font-size: 30px; 
    }

	.ds-numbervalulist span{
        font-size: 14px;
    }

	.ds-projetos-secao{
        padding-bottom: 0; 
    }

	.ds-projetos-secao section{ 
        padding-right: 0; 
    }

    .ds-projetos-img{
        width: 90%;
    }

	.ds-footer{ 
        padding: 40px 10px; 
    }

	.ds-footer section p{ font-size: 14px; }
}


@media (min-width: 992px) and (max-width: 1199px) {
	.ds-banner section{
        padding-right: 0; 
    }
}
